<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/cadastro">Cadastro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/front">Front</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/back">Back</a>
    </li>
  </ul>
</nav>