<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Front</h1>
            
            <ul>
                <% for(i=0; i<dados.length; i++){ %>
                    <li><%=dados[i].conteudo %></li>
                <% } %>
                            
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
  

</body>
</html>